* {
  margin: 0;
  padding: 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo img {
  max-width: 139px;
  max-height: 60px;
  padding: 16px;
}

nav .menu {
  display: flex;
}

nav .menu ul {
  display: flex;
  list-style-type: none;
  gap: 34px;
  align-items: center;
}

nav .menu ul li {
  font-size: 18px;
  color: #000000;
}

nav div .btn {
  color: #ffffff;
  padding: 26px;
  background-color: #469165;
  font-weight: 600;
  border-radius: 5%;
  width: 164px;
  text-align: center;
}

header {
  background-color: #ffffff;
  padding-top: 21px;
}

nav {
  max-width: 1600px;
  max-height: 92px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
