* {
  margin: 0;
  padding: 0;
}

.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

.logo img {
  max-width: 139px;
  max-height: 60px;
  padding: 16px;
}

nav .menu {
  display: flex;
}

nav .menu ul {
  display: flex;
  list-style-type: none;
  gap: 34px;
  align-items: center;
}

nav .menu ul li {
  font-size: 18px;
  color: #000000;
}

nav #mm {
  align-items: center;
  padding: 24px;
}

nav #mm .btn {
  color: #ffffff;
  border: none;
  padding: 13px 16px;
  border-radius: 5px;
  background-color: #469165;
  font-size: 16px;
  font-weight: 600;
  width: 164px;
  text-align: center;
  align-items: center;
}

header {
  background-color: #ffffff;
  padding-top: 21px;
}

nav {
  max-width: 1600px;
  max-height: 92px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

#banner {
  width: auto;
  height: 675px;
  /* border: 5px solid red; */
  border: 24px 0 0 0;
  align-items: center;
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#banner .banner-content {
  text-align: center;
  padding: 116px 120px 180px 120px;
}

#banner .banner-content .written-content {
  display: inline-block;
  padding: 6px 12px;
  font-size: 12px;
  background-color: #ffffff;
  border-radius: 40px;
  color: #276941;
}

#banner .banner-content .written-content::before {
  content: "Ea";
  width: 8px;
  height: 8px;
  border-radius: 500%;
  background: #276941;
  border-color: #276941;
}

#banner .banner-content .content-x {
  color: white;
  padding-top: 16px;
  font-size: 80px;
}

#banner .banner-content .content-y {
  color: #30b868;
  padding-bottom: 8px;
  font-size: 80px;
}

#banner .banner-content .content-z {
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 25px;
}

#banner .banner-content .content-a {
  gap: 30px;
  display: inline;
}

#banner .banner-content .content-a .btn-1 {
  color: #ffffff;
  border: none;
  padding: 13px 18px;
  border-radius: 5px;
  background-color: #469165;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  align-items: center;
}

#banner .banner-content .content-a .btn-2 {
  color: #ffffff;
  border: 1px solid white;
  padding: 13px 18px;
  border-radius: 5px;
  background-color: #469165;
  font-size: 16px;
  font-weight: 600;

  text-align: center;
  align-items: center;
  background-color: transparent;
}

#Box {
  width: auto;
  height: 450px;
}

#Box .Box-content {
  text-align: center;
  padding-top: 40px;
}

#Box .Box-content h1 {
  font-size: 48px;
  color: #001931;
  font-weight: 600;
}

#Box .Box-content p {
  font-size: 16px;
  color: #627382;
  padding-top: 16px;
}

#Box .Box-container {
  padding-top: 50px;
  padding-right: 120px;
  padding-bottom: 50px;
  padding-left: 130px;
  /* border: 1px solid red; */
  display: flex;
  gap: 24px;
  overflow: visible;
  /* box-shadow: 0 8px 24px white */
}

#Box .Box-container .Box-container-X {
  background-color: white;
  height: 300px;
  width: 322px;
  box-shadow: 0 60px 60px rgb(163, 157, 157);
  text-align: center;
  border-radius: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  gap: 18px;
}

#Box .Box-container .Box-container-X .png {
  width: 60px;
  height: 60px;
  background-color: #f54141;
  border-radius: 50%;
}

#Box .Box-container .Box-container-X h2 {
  font-size: 26px;
  color: #001931;
}

#Box .Box-container .Box-container-X p {
  font-size: 16px;
  color: #627382;
}
